{% extends "AcmeGuestbookBundle::layout.html.twig" %}
{% block body %}
<h1 class="title">Leave&nbsp;your&nbsp;comment&nbsp;about&nbsp;any&nbsp;site&nbsp;here</h1> <br />
    <div class="sorting">
        <div class="count">
            Total comments: {{ pagination.getTotalItemCount }}
        </div>
        <ul class="sort_item">
            {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
            <li class="sort_by">Sort by:&nbsp;</li>
            <li{% if pagination.isSorted('a.author') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Author', 'a.author') }}</li>
            <li{% if pagination.isSorted('a.site') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Site', 'a.site') }}</li>
            {#<li{% if pagination.isSorted('a.comment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Comment', 'a.comment') }}</li>#}
            <li{% if pagination.isSorted('a.point') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Point', 'a.point') }}</li>
            <li{% if pagination.isSorted('a.dueDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'a.dueDate') }}</li>
        </ul>
    </div>
    <div class="navigation" align="right">
        {{ knp_pagination_render(pagination) }}
    </div>

    {# table body #}
    {% for comment in pagination %}
    <div class="comment">
        <div class="top_row">
            <ul>
                <li class="author">{{ comment.author }}</li>
                <li class="date">Date:&nbsp;{{ comment.dueDate|date('d-m-Y H:i:s') }}</li>
                <li class="point">Point:&nbsp;{{ comment.point }}</li>
            </ul>
        </div>
        <table border="1" cellspacing="0" cellpadding="7">
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td width="160px">{{ comment.site }}</td>
                <td>{{ comment.comment }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}

    {# display navigation #}
    <div class="navigation" align="right">
        {{ knp_pagination_render(pagination) }}
    </div>
<div id="message"></div>
{% endblock %}
{% block form %}
<div class="message">{{ form_errors(form.author) }}</div>
<div class="error"> {{ form_errors(form) }}</div>
<form id="myForm" action="{{ path('task_new') }}" method="post" {{ form_enctype(form) }}>

    <div class="field_author">
        {{ form_label(form.author, 'Your name:') }}
        {{ form_widget(form.author) }}
    </div><br />

    <div class="field_site">
        {{ form_label(form.site, 'Site:') }}
        {{ form_errors(form.site) }}
        {{ form_widget(form.site, { 'attr': {
            'style' : 'width:525px',
            'rows' : '1' }} ) }}
    </div><br />

    <div class="field_comment">
        {{ form_label(form.comment, 'Comment:') }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, { 'attr': {
            'style' : 'width:523px',
            'rows' : '4',
            'cols' : '30' }} ) }}
    </div><br />

    <div class="field_point">
        {{ form_label(form.point, 'Point') }}
        {{ form_errors(form.point) }}
        {{ form_widget(form.point) }}
    </div>

    {{ form_rest(form) }}
    <input class="button_submit" type="submit" value="Send"   />
</form>
{% endblock %}
{% block flashMessage %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice" align="center">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}



{#{% extends "AcmeGuestbookBundle::layout.html.twig" %}#}
{#{% block body %}#}
    {#<h1 class="title">Leave&nbsp;your&nbsp;comment&nbsp;about&nbsp;any&nbsp;site&nbsp;here</h1> <br />#}
    {#<div class="sorting">#}
    {#<div class="count">#}
    {#Total comments: {{ pagination.getTotalItemCount }}#}
    {#</div>#}
    {#<ul class="sort_item">#}
    {#&#123;&#35;<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>&#35;&#125;#}
    {#<li class="sort_by">Sort by:&nbsp;</li>#}
    {#<li{% if pagination.isSorted('a.author') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Author', 'a.author') }}</li>#}
    {#<li{% if pagination.isSorted('a.site') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Site', 'a.site') }}</li>#}
    {#&#123;&#35;<li{% if pagination.isSorted('a.comment') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Comment', 'a.comment') }}</li>&#35;&#125;#}
    {#<li{% if pagination.isSorted('a.point') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Point', 'a.point') }}</li>#}
    {#<li{% if pagination.isSorted('a.dueDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date', 'a.dueDate') }}</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="navigation" align="right">#}
    {#{{ knp_pagination_render(pagination) }}#}
    {#</div>#}

    {#&#123;&#35; table body &#35;&#125;#}
    {#{% for comment in pagination %}#}
    {#<div class="comment">#}
    {#<div class="top_row">#}
    {#<ul>#}
    {#<li class="author">{{ comment.author }}</li>#}
    {#<li class="date">Date:&nbsp;{{ comment.dueDate|date('d-m-Y H:i:s') }}</li>#}
    {#<li class="point">Point:&nbsp;{{ comment.point }}</li>#}
    {#</ul>#}
    {#</div>#}
    {#<table border="1" cellspacing="0" cellpadding="7">#}
    {#<tr {% if loop.index is odd %}class="color"{% endif %}>#}
    {#<td width="160px">{{ comment.site }}</td>#}
    {#<td>{{ comment.comment }}</td>#}
    {#</tr>#}
    {#</table>#}
    {#</div>#}
    {#{% endfor %}#}

    {#&#123;&#35; display navigation &#35;&#125;#}
    {#&#123;&#35;<div class="navigation" align="right">&#35;&#125;#}
    {#&#123;&#35;{{ knp_pagination_render(pagination) }}&#35;&#125;#}
    {#&#123;&#35;</div>&#35;&#125;#}
    {#{% endblock %}#}
{#{% block form %}#}
    {#<div id="message"></div>#}
    {#<form id="myForm" action="{{ path('task_new') }}" method="post" {{ form_enctype(form) }}>#}
        {#{{ form_errors(form) }}#}

        {#<div class="field1">#}
            {#{{ form_label(form.author, 'Your name:') }}#}
            {#{{ form_errors(form.author) }}#}
            {#{{ form_widget(form.author) }}#}
        {#</div><br />#}

        {#<div class="field3">#}
            {#{{ form_label(form.site, 'Site:') }}#}
            {#{{ form_errors(form.site) }}#}
            {#{{ form_widget(form.site, { 'attr': {#}
                {#'style' : 'width:525px',#}
                {#'rows' : '1' }} ) }}#}
        {#</div><br />#}

        {#<div class="field4">#}
            {#{{ form_label(form.comment, 'Comment:') }}#}
            {#{{ form_errors(form.comment) }}#}
            {#{{ form_widget(form.comment, { 'attr': {#}
                {#'style' : 'width:523px',#}
                {#'rows' : '4',#}
                {#'cols' : '30' }} ) }}#}
        {#</div><br />#}

        {#<div class="field5">#}
            {#{{ form_label(form.point, 'Point') }}#}
            {#{{ form_errors(form.point) }}#}
            {#{{ form_widget(form.point) }}#}
        {#</div>#}

        {#{{ form_rest(form) }}#}

        {#<input class="field6" type="submit" value="Send" />#}
    {#</form>#}
{#{% endblock %}#}