{% extends "AcmeGuestbookBundle::layout.html.twig" %}
{#{% block body %}#}
        {#<h1> Comments </h1> <br />#}
        {#{% for tasks in task %}#}
            {#{{ tasks.id }}#}
            {#{{ tasks.author }}#}
            {#{{ tasks.dueDate|date('Y-m-d') }}#}
            {#{{ tasks.site }}#}
            {#{{ tasks.comment }}#}
            {#{{ tasks.point }} <br />#}
        {#{% endfor %}#}
{#{% endblock %}#}